@charset "utf-8";


body {
    display: flex;
    justify-content: center;
    margin: 0;
    display: flex;
    text-align: center;
}

img {
    border-radius: 10%;
}

.container {
    align-items: center;
    text-align: center;
}

.cont {
    display: inline-block;
    text-align: left;
}